@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.logo {
    width: 268px;
    align-self: center;
}

#errorMessage {
    color: rgba(0, 0, 0, 0.43);
    font-size: 42px;
    display: none;
}

.not-found {
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    outline: none;
}

@media screen and (max-width: 1200px) {
    #errorMessage {
        font-size: 1.2em;
        margin: 20px 18px 20px;
    }
}